<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/lifewood_logo_ver4_white.png">
</div>
<ul>
  <li (click)='movePage("/expressions")'>Expressions</li>
  <li (click)='movePage("/click")'>Click</li>
  <li (click)='movePage("/propertybinding")'>Property Binding</li>
  <li (click)='movePage("/attributebinding")'>Attribute Binding</li>
  <li (click)='movePage("/classbinding")'>Class Binding</li>
</ul>
<router-outlet></router-outlet>
